# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db
*.db
# Arquivos de Editores e IDEs
.vscode/
.idea/
__pycache__/
# Arquivos de Teste (Pytest, Coverage)
.pytest_cache/
.coverage
htmlcov/
.env
# Arquivos de Build e Distribuição
/dist/
/build/
*.egg-info/